node_modules/
backend/node_modules/
frontend/node_modules/
dist/
.env
.DS_Store
coverage/
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
